* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  height: 100vh;
  width: 35vw;
}

.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.child {
  position: absolute;
  padding: 10px;
  background-color: black;
  opacity: 0.6;
  height: 20%;
  width: 100%;
  top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 100%;
  width: auto;
}

@font-face {
  font-family: my-font;
  src: url(./fonts/Norse-Bold.woff2);
}

.credit {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: white;
}

a {
  color: white;
}

p {
  font-size: 5rem;
  color: white;
  margin: auto 0;
  font-family: my-font, sans-serif;
}
